In [7]:

students=[]
def admit_student():
    n = input("Enter student name: ")
    roll_no = input("Enter student roll number: ")
    m1 = float(input("Enter marks for math: "))
    m2 = float(input("Enter marks for science: "))

    student = {
        "student_name": n,
        "student_roll_number": roll_no,
        "subject_1_marks": m1,
        "subject_2_marks": m2
    }

    students.append(student)
    print("data accepted.")

def show_student_data():
    if not students:
        print("No data available !!")
        return

    print("Student Data:")
    for student in students:
        print("Name:", student["student_name"])
        print("Roll Number:", student["student_roll_number"])
        print("Marks_1:", student["subject_1_marks"])
        print("Marks_2:", student["subject_2_marks"])
        print()

def  find_by_name(name):
    found_students = []
    for student in students:
        if student["student_name"].lower() == name.lower():
            found_students.append(student)

    if not found_students:
        print("No student found !!")
        return

    print("Student(s) Found:")
    for student in found_students:
        print("Name:", student["student_name"])
        print("Roll_Number:", student["student_roll_number"])
        print("Marks_1:", student["subject_1_marks"])
        print("Marks_2:", student["subject_2_marks"])
        print()

def delete_data(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            students.remove(student)
            print("Data deleted successfully.")
            return

    print("Sorry, No student found !!")

def update_info(roll_number):
    for student in students:
        if student["student_roll_number"] == roll_number:
            print("Enter updated details for the student:")
            student["student_name"] = input("Enter updated name: ")
            student["student_roll_number"] = input("Enter updated roll number: ")
            student["subject_1_marks"] = float(input("Enter updated marks for math: "))
            student["subject_2_marks"] = float(input("Enter updated marks for science: "))
            print("Data updated successfully.")
            return

    print("Sorry, provide the valid roll_no.")

In [9]:
add_student()

Enter student name: aryan pradhan
Enter student roll number: 789
Enter marks for math: 85
Enter marks for science: 96
Student data accepted.

In [10]:
add_student()

Enter student name: pukun sahoo
Enter student roll number: 786
Enter marks for math: 75
Enter marks for science: 85
Student data accepted.

In [11]:
add_student()

Enter student name: ashok dash
Enter student roll number: 895
Enter marks for math: 89
Enter marks for science: 95
Student data accepted.

In [12]:
add_student()

Enter student name: subhamjit sahoo
Enter student roll number: 800
Enter marks for math: 79
Enter marks for science: 78
Student data accepted.

In [13]:
add_student()

Enter student name: nikhil behera
Enter student roll number: 801
Enter marks for math: 95
Enter marks for science: 99
Student data accepted.

In [14]:
show_student_data()

Student Data:
Name: aryan pradhan
Roll Number: 789
Marks_1: 85.0
Marks_2: 96.0

Name: pukun sahoo
Roll Number: 786
Marks_1: 75.0
Marks_2: 85.0

Name: ashok dash
Roll Number: 895
Marks_1: 89.0
Marks_2: 95.0

Name: subhamjit sahoo
Roll Number: 800
Marks_1: 79.0
Marks_2: 78.0

Name: nikhil behera
Roll Number: 801
Marks_1: 95.0
Marks_2: 99.0

In [16]:
find_by_name("aryan pradhan")

Student(s) Found:
Name: aryan pradhan
Roll_Number: 789
Marks_1: 85.0
Marks_2: 96.0

In [17]:
delete_data("800")

Data deleted successfully.

In [18]:
show_student_data()

Student Data:
Name: aryan pradhan
Roll Number: 789
Marks_1: 85.0
Marks_2: 96.0

Name: pukun sahoo
Roll Number: 786
Marks_1: 75.0
Marks_2: 85.0

Name: ashok dash
Roll Number: 895
Marks_1: 89.0
Marks_2: 95.0

Name: nikhil behera
Roll Number: 801
Marks_1: 95.0
Marks_2: 99.0

In [20]:
update_info("801")

Enter updated details for the student:
Enter updated name: nikhil kumar behera
Enter updated roll number: 801
Enter updated marks for math: 95
Enter updated marks for science: 99
Data updated successfully.

In [21]:
show_student_data()

Student Data:
Name: aryan pradhan
Roll Number: 789
Marks_1: 85.0
Marks_2: 96.0

Name: pukun sahoo
Roll Number: 786
Marks_1: 75.0
Marks_2: 85.0

Name: ashok dash
Roll Number: 895
Marks_1: 89.0
Marks_2: 95.0

Name: nikhil kumar behera
Roll Number: 801
Marks_1: 95.0
Marks_2: 99.0